/*--------------General styles--------------*/
h1,
h2,
h3,
h4,
h5,
h6,
nav,
header {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

body {
    margin-right: 2rem;
    margin-left: 2rem;
}

p,
footer,
div#content {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/*-----------Nav styles----------- */

nav ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    justify-content: space-between;
    font-weight: 400;
}

header {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

nav ul li {
    margin-left: 16px;
}

/*-----------Section Hero----------- */
section#hero {
    display: flex;
    height: 100vh;
    align-items: center;
}

section#hero #introduction,
section#hero img {
    width: 50%;
    font-size: 1.5rem;
    margin-top: 4rem;


}

section#hero img {
    max-height: 100%;
    max-width: 48%;
}

section#hero #heroimg {
    background-color: rgba(36, 34, 34, 1);
    margin-right: -2rem;
}

section#hero img::after {}

/*-----------------about me------------------------------ */
section#about-me {
    display: flex;
    width: 100%;
    margin-top: 3rem;
}


section#about-me div,
section#about-me img {
    width: 50%;
}

/*------------------------Knowledge---------------------------------*/
section#knowledge {
    background-color: rgba(36, 34, 34, 1);
    color: white;
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 2rem;



}

section#knowledge>div {
    display: flex;
    justify-content: space-between;
    cursor: pointer;

}

/*--------contact--------*/

#contact {
    text-align: center;
    background-color: rgb(23, 21, 21);
    margin-left: -2rem;
    margin-right: -2rem;
    padding: 2rem;

}

#contact a {
    color: azure;

}